@model Forum_v1.Models.UserEdit
@{
    ViewBag.Title = "Edit Profile";
}

<div class="row" style="margin-top:10px">
    <div class="col-sm-10"><h3 class="text_color">@Html.DisplayFor(m => m.Email)</h3></div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
</div>
<div class="row">
    <div class="col-sm-3">
        <!--left col-->


        <div class="text-center">
            <img src="@Url.Action("UserPhotos","Home")" class="avatar img-circle img-thumbnail" alt="avatar">
        </div><br>
        <div class="panel panel-default">
            <div class="panel-heading" id="wh">
                <p class="text_colorr"> Website</p>
            </div>
            <div class="panel-body">
            <a href="http://bootnipets.com">
                bootnipets.com
            </a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" id="wh"> 
                <p class="text_colorr">
                    Social Media
                </p>
            </div>
            <div class="panel-body">
                <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>

    </div><!--/col-3-->
    <div class="col-sm-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" style="color:#fff" id="wh" href="#home">Home</a></li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <form class="form" action="/UserEdit/Edit" method="post" id="registrationForm" enctype = "multipart/form-data">
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <div class="form-group">

                        <div class="col-xs-6">
                            @Html.Label("FirstName", "First Name", new { @class = "text_color"})
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger " })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            @Html.Label("LastName", "Last Name", new { @class = "text_color" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger " })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            @Html.Label("Adress", "Adress", new { @class = "text_color" })
                            @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Adress, null, new { @class = "text-danger " })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            @Html.Label("City", "City", new { @class = "text_color" })
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger " })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            @Html.Label("State", "State", new { @class = "text_color" })
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger " })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            @Html.Label("Upload a new photo ...", "Upload a new photo...", new { @class = "text_color" })
                            <input type="file" class="text_color text-center center-block file-upload" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.gif,.tif" style="margin-left: 0px;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg text_colorr" id="wh" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        </div>
                    </div>
                    <hr class="hr_class" />
                </form>

                <hr>

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
