
@model Forum_v1.Models.UserEdit
@{
    ViewBag.Title = "Index";
}
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<hr>
<div class="row">
    <div class="col-sm-10"><h1>@Html.DisplayFor(m => m.Email)</h1></div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
</div>
<div class="row">
    <div class="col-sm-3">
        <!--left col-->


        <div class="text-center">
            <img src="@Url.Action("UserPhotos","Home")" class="avatar img-circle img-thumbnail" alt="avatar">
        </div><br>


        <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
                <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>

    </div><!--/col-3-->
    <div class="col-sm-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="home">
            <hr>
                        <div class="col-xs-6">
                           <h3> @Html.Label("FirstName", "First Name") </h3>
                            @Html.DisplayFor(m => m.FirstName)
                        </div>
                    
                    
                        <div class="col-xs-6">
                          <h3>  @Html.Label("LastName", "Last Name") </h3>

                            @Html.DisplayFor(m => m.LastName)
                        </div>
                    
                    
                        <div class="col-xs-6">
                            <h3> @Html.Label("Adress", "Adress") </h3>
                            @Html.DisplayFor(m => m.Adress)
                        </div>
                    
                    
                        <div class="col-xs-6">
                            <h3> @Html.Label("City", "City") </h3>
                            @Html.DisplayFor(m => m.City)
                        </div>
                   
                        <div class="col-xs-6">
                            <h3>  @Html.Label("State", "State") </h3>
                            @Html.DisplayFor(m => m.State)
                        </div>
                    
                        <div class="col-xs-12">
                            <br>
                            <a href='@Url.Action("Edit", "UserEdit")' class="btn btn-primary">Edit</a>
                        </div>
                <hr>

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
