@model Forum_v1.Models.ApplicationUser
@{
    ViewBag.Title = "Editare rol utilizator";
}

    <h3 class="text_color">@ViewBag.Title</h3>

<form method="post" action="/Users/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m=>m.Id)

    <br />
    <i class = "glyphicon glyphicon-user text_color"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "text_color"})

    <br />
    @Html.EditorFor(m => m.UserName)

    <br />
    <br />
    <i class="glyphicon glyphicon-envelope text_color">
    </i>
    @Html.Label("Email", "Email utilizator", new { @class = "text_color"})

    <br />

    @Html.EditorFor(m => m.Email)


    <br /> <br />
    <i class="glyphicon glyphicon-th-list text_color"></i>
    <label class="text_color">Selectati rolul</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", (string)ViewBag.userRole),null,new { @class = "form-control"})
    
    <br />
    <button class="btn btn-sm btn-success" type="submit" >Modifica utilizatorul</button>
</form>