@*model IEnumerable<Forum_v1.Models.Category>*@
@model Tuple<IEnumerable<Forum_v1.Models.Category>, IEnumerable<Forum_v1.Models.Subject>>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>LOgo</h1>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6">
                @Html.ActionLink("Members", "Index", "Users", null, new { @class = "button_link text_color2" })
            </div>
            <div class="col-xs-6">
                <a class="button_link text_color2" href="#">Calendar</a>
            </div>
        </div>
    </div>
</div>
<br />
<hr class="hr_class" />
<div class="row text_color" id="my_style">
    <div class="col-md-4">
        <h2 class="colorr">Subiecte noi</h2>
    </div>
    <div class="col-md-8">
       
        <div class="row">
           
           @{  int skip = 0;
                var Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title,"Details", "Subjects", new { id = item.SubjectId}, new { @class = "colorr"})
                    </div>
                }
               skip = skip + 4;
            }
        </div>
        <div class="row">

            @{
                Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title, "Details", "Subjects", new { id = item.SubjectId }, new { @class = "colorr" })
                    </div>
                }
                skip = skip + 4;
            }
        </div>
        <div class="row">

            @{
                Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title, "Details", "Subjects", new { id = item.SubjectId }, new { @class = "colorr" })
                    </div>
                }
            }
        </div>
    </div>
</div>
<hr class="hr_class" />

@foreach (var item in Model.Item1)
{
    <div class="row text_color">
        <div class="col-md-5">
            <h3>
                @Html.ActionLink(item.Title, "Index", "Subjects", new { id = item.CategoryID }, new { @class = "text_color" })
            </h3>
            <p class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            @if (this.User.IsInRole("Administrator"))
            {
                <p> @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })</p>
                <p> @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }) </p>
            }
        </div>
        <div class="col-md-2">
            <p>
                NR topics
            </p>
        </div>
        <div class="col-md-5">
            <h3> last subject</h3>
            <p>by usename</p>
        </div>
    </div>
}