@*model IEnumerable<Forum_v1.Models.Category>*@
@model Tuple<IEnumerable<Forum_v1.Models.Category>, IEnumerable<Forum_v1.Models.Subject>>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:15px;">

    <div class="col-md-8">
        
    </div>
    <div class="col-md-4">
        <img  style="float:right;" src="@Url.Action("GetLogo","Home")" class="avatar img-responsive" alt="avatar">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-6">
                @Html.ActionLink("Members", "Index", "Users", null, new { @class = "btn btn-info" })
            </div>
            <div class="col-xs-6">
                <a class="btn btn-info" href="#">Calendar</a>
            </div>
        </div>
    </div>
    <div class="col-md-10">

    </div>
</div>
<br />
<hr class="hr_class" />
<div class="row text_color" id="my_style" style="margin-top:20px;">
    <div class="col-md-4">
        <h2 class="colorr">Subiecte noi</h2>
    </div>
    <div class="col-md-8">

        <div class="row">

            @{ int skip = 0;
                var Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title, "Index", "Messages", new { id = item.SubjectId }, new { @class = "colorr" })
                    </div>
                }
                skip = skip + 4;
            }
        </div>
        <div class="row">

            @{
                Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title, "Details", "Subjects", new { id = item.SubjectId }, new { @class = "colorr" })
                    </div>
                }
                skip = skip + 4;
            }
        </div>
        <div class="row">

            @{
                Subject = Model.Item2.Skip(skip).Take(4);
                foreach (var item in Subject)
                {
                    <div class="col-xs-3">
                        @Html.ActionLink(item.Title, "Details", "Subjects", new { id = item.SubjectId }, new { @class = "colorr" })
                    </div>
                }
            }
        </div>
    </div>
</div>
<br />
@if (this.User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create new category", "Create","Categories", null, new { @class = "btn btn-info btn-block" })
    </p>
}@{ int i = 1;}
@foreach (var item in Model.Item1)
{    <hr class="hr_class" />
    <div class="row text_color">
        <div class="col-md-5 column">
            <h3>
                @Html.ActionLink(item.Title, "Index", "Subjects", new { id = item.CategoryID }, new { @class = "text_color" })
            </h3>
            <p class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            @if (this.User.IsInRole("Administrator"))
            {
                <div class="row">
                    <div class="col-xs-2">
                        <p> @Html.ActionLink("Edit", "Edit","Categories", new { id = item.CategoryID },null)</p>
                    </div>
                    <div class="col-xs-2">
                        <p> @Html.ActionLink("Delete", "Delete","Categories", new { id = item.CategoryID },null) </p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2 column" id="ac@(item.CategoryID)">
            <script>
                
                $(document).ready(function () {
                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json;charset=utf-8',
                        url: '@Url.Action("GetNumberOfSubjects","Home")',
                        data: { "id":@item.CategoryID},
                        dataType: 'json',
                        async: false,
                    }).done(function (data) {

                        var node2 = document.createElement('p');
                        var textnode2 = document.createTextNode(data.Count + ' subjects');
                        node2.appendChild(textnode2);
                        document.getElementById("ac" + @item.CategoryID).appendChild(node2);

                    }).fail(function (data) {
                        console.log("Error"); 
                    });
                           
                 });

            </script>
        </div>
        <div class="col-md-5 column" id="ap@(item.CategoryID)">
            <script>
                $(document).ready(function () {
                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json;charset=utf-8',
                        url: '@Url.Action("GetLastSubject","Home")',
                        data: { "id":@item.CategoryID},
                        dataType: 'json',
                        async: false,
                    }).done(function (data) {

                        if (data.Count == 0) {
                            var node = document.createElement('p');
                            var textnode = document.createTextNode("Niciun subiect");
                            node.appendChild(textnode);
                            document.getElementById("ap" + @item.CategoryID).appendChild(node);
                        }
                        else {
                            var node1 = document.createElement('a');
                            var node2 = document.createElement('p');
                            var node3 = document.createElement('a');


                            node1.href = "/Messages/Index/" + data.SubjectID;
                            node1.title = data.Title;

                            node3.href = "/UserEdit/UserShow/" + data.UserID;

                            var date = new Date(parseInt(data.Date.substr(6)));
                            var seconds = date.getSeconds();
                            var minutes = date.getMinutes();
                            if (minutes < 10)
                                minutes = '0' + minutes;
                            if (seconds < 10)
                                seconds = '0' + seconds;
                            var hour = date.getHours();
                            var month = date.getUTCMonth() + 1;
                            var day = date.getUTCDate();
                            var year = date.getUTCFullYear();
                            newdate = day + "/" + month + "/" + year + ' ' + hour + ':' + minutes + ':' + seconds;
                        
                            var textnode1 = document.createTextNode(data.Title);
                            var textnode2 = document.createTextNode(newdate);
                            var textnode3 = document.createTextNode('Last subject by: ' + data.FirstName + ' ' + data.LastName)
                            node1.appendChild(textnode1);
                            node2.appendChild(textnode2);
                            node3.appendChild(textnode3);

                            document.getElementById("ap" + data.CategoryID).appendChild(node1);
                            document.getElementById("ap" + data.CategoryID).appendChild(node2);
                            document.getElementById("ap" + data.CategoryID).appendChild(node3);
                        }

                    }).fail(function (data) {
                        console.log("Error"); 
                    });
                           
                 });
            </script>
        </div>
    </div>
    i++;
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.row').each(function () {
                var highestBox = 0;

                $(this).find('.column').each(function () {
                    if ($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                })

                $(this).find('.column').height(highestBox);
            });


        });
    </script>
}