@model IEnumerable<Forum_v1.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    @foreach (var item in Model)
    {       
        <div class="row">
            <div class="col-sm">
                  @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-sm">
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) 
                @if (this.User.IsInRole("Administrator"))
                { 
                     @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) 
                     @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                }
            </div>
        </div>
     }
</div>
