@model IEnumerable<Forum_v1.Models.Category>

@{
    ViewBag.Title = "Index";
}

@if (this.User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@foreach (var item in Model)
{
    <div class="row text_color">
        <div class="col-md-5">
            <h3 >
                @Html.ActionLink(item.Title, "Index", "Subjects", new {id = item.CategoryID}, new { @class="text_color"})
            </h3>
            <p class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            @if (this.User.IsInRole("Administrator"))
            {
                <p> @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })</p>
                <p> @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }) </p>
            }
        </div>
        <div class="col-md-2">
            <p>
                NR topics
            </p>
        </div>
        <div class="col-md-5">
            <h3> last subject</h3>
            <p>by usename</p>
        </div>
    </div>
}