@model Forum_v1.Models.Subject
@{
    ViewBag.Title = "Delete";
}
<h3 class="text_color">Doriti sa stergeti subiectul @ViewBag.SubTitle ?</h3>
<div>
    <hr class="hr_class" />
    <div class="row">
        <div class="col-md-2">
            <p class="text_color">
                Titlu
            </p>
        </div>
        <div class="col-md-10 description">
            @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <p class="text_color"> Descriere </p>
        </div>
        <div class="col-md-10 description">
            @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-2">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", "Subjects", new { id = ViewBag.subject.CategoryID }, new { @class = "text_color" })
            </div>
        </div>
    }
</div>
