@model IEnumerable<Forum_v1.Models.Subject>
@{
    ViewBag.Title = "Index";
}
@if (this.User.IsInRole("Administrator"))
{
    <p>
        @{
            @Html.ActionLink("Creaza Subiect Nou", "Create", "Subjects", new { id = ViewBag.CategoryID }, null)
        }
    </p>
}
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-4">
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                <h4>Creat de @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</h4>
                <h4>La data: @Html.DisplayFor(modelItem => item.Date)</h4>
                <p>@Html.ActionLink("Details", "Details", new { id = item.SubjectId }) </p>
                @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Moderator") || this.User.IsInRole("User"))
                {
                    <p> @Html.ActionLink("Edit", "Edit", new { id = item.SubjectId })</p>
                    <p> @Html.ActionLink("Delete", "Delete", new { id = item.SubjectId }) </p>
                }
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    }
</div>
