@model IEnumerable<Forum_v1.Models.Subject>
@{
    ViewBag.Title = "Index";
}
<h1 class="text_color">@ViewBag.Category.Title</h1>
@if (ViewBag.message != null)
{
    <div class="alert alert-success">
        <strong>@ViewBag.message</strong>
    </div>
}
@if (this.User.IsInRole("Administrator") || this.User.IsInRole("Moderator") || this.User.IsInRole("User"))
{
    <p>
        @{
            @Html.ActionLink("Creaza Subiect Nou", "Create", "Subjects", new { id = ViewBag.CategoryID }, null)
        }
    </p>
}

    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <hr class="hr_class"/>
            <div class="row">
                <div class="col-lg-4">
                    <h2>@Html.ActionLink(item.Title, "Index", "Messages", new { id = item.SubjectId }, new { @class = "text_color" })</h2>
                    <h4 class="description">@Html.DisplayFor(modelItem => item.Description)</h4>
                    <h4 class="description">Creat de @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</h4>
                    <h4 class="description">La data: @Html.DisplayFor(modelItem => item.Date)</h4>
                    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Moderator") || this.User.IsInRole("User"))
                    {
                        <div class="row">
                            <div class="col-xs-1">
                                <p> @Html.ActionLink("Edit", "Edit", new { id = item.SubjectId })</p>
                            </div>
                            <div class="col-xs-1">
                                <p> @Html.ActionLink("Delete", "Delete", new { id = item.SubjectId }) </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
